default: &default
  adapter: postgresql
  encoding: unicode
  user: vagrant
  password: vagrant
  pool: 5

development:
  <<: *default
  database: random_steam_game_dev
  
test:
  <<: *default
  database: random_steam_game_test

