// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets"
@import "bootstrap"

.header
  height: 50px
  width: 960px
  margin: 0px auto
  display: inline-block

.header-caption
  display: inline-block
  height: 50px

.header-menu
  display: inline-block
  height: 50px

.wdth-60-pr
  width: 60%

.caption
  margin: 0px auto
  padding: 0px

.center-block
  margin-left: auto
  margin-right: auto

.vcenter
  float: none
  display: inline-block
  vertical-align: middle

.column
  display: inline-block
  vertical-align: middle

.left-column
  width: 200px

.right-column
  width: 400px

.image
  @extend .center-block
  margin-top: 20px
  margin-bottom: 20px
  display: block

.game, .achievement, .ach-descr
  @extend .center-block
  text-align: center

.welcome-row
  width: 70%

.regenerate
  margin-left: auto
  margin-right: auto
  display: block

.header-user-info
  display: inline-block
  position: absolute
  right: 0
  top: 0
